/* 
    Project: Glowing Card
    Created: Thursday, 15 January 2022
    Author: Jamshid Elmi 
    Tutorial: https://youtu.be/nPcEatO4wco
    */
:root {
  --card-height:  65vh;
  --card-width:   calc(var(--card-height) / 1.5);
  --bg:           25 28 41;
  --color:        88 199 250;
}

body {
    min-height: 100vh;
    background: rgba(var(--bg) / 90%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    font-family: Roboto;
}

.card {
    background: rgba(var(--bg));
    width: var(--card-width);
    height: var(--card-height);
    padding: 30px;
    position: relative;
    border-radius: 6px;
    color: rgba(var(--color) / 60%);
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
}

.card img {
    width: 120px;
    border-radius: 50%;
}

.image-container {
    background-color: rgba(var(--color) / 30%);
    padding: 10px;
    margin: -20px;
    margin-bottom: 20px;
    border-radius: 7px;
}

.card p  {
    text-align: left;
}

.card a {
  color: rgba(var(--color) / 60%);
  text-decoration: none;
}

.icons ion-icon {
    font-size: 2.5rem;
    margin: 5px;
    margin-top: 20px;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

.card::before {
    content: "";
    width: 104%;
    height: 102.7%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate),
      #5ddcff,
      #3c67e3 43%,
      #4e00c2
    );
    position: absolute;
    z-index: -1;
    top: -1.3%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate),
      #5ddcff,
      #3c67e3 43%,
      #4e00c2
    );
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

.card:hover:before,
.card:hover:after {
    animation: none;
    opacity: 0;
}